<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
		<meta name="description" content="Lets have a look demo of autoplay slideshow which build with purely CSS. There is no javasript require to handle its sliding functions." />
    <meta name="author" content="Codeconvey" />
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="/assets/demo.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>

	<br><br><br>




<section> 
    <div class="rt-container">
    	<div class="col-rt-12">
  <!-- Slider -->
          <div id="slider">
            <div class="slides">
              <div class="slider">
                <div class="legend"></div>
                <div class="content">
                  <div class="content-txt">
                    
                  </div>
                </div>
                <div class="image"> <img src="/assets/img/slide1.jpg"> </div>
              </div>
              <div class="slider">
                <div class="legend"></div>
                <div class="content">
                  <div class="content-txt">
              
                  </div>
                </div>
                <div class="image"> <img src="/assets/img/slide2.jpg"> </div>
              </div>
              <div class="slider">
                <div class="legend"></div>
                <div class="content">
                  <div class="content-txt">
                 
                  </div>
                </div>

				<div class="image"> <img src="/assets/img/slide3.png"> </div>
              </div>
              <div class="slider">
                <div class="legend"></div>
                <div class="content">
                  <div class="content-txt">
                 
                  </div>
                </div>


				<div class="image"> <img src="/assets/img/slide4.jpg"> </div>
              </div>
              <div class="slider">
                <div class="legend"></div>
                <div class="content">
                  <div class="content-txt">
                 
                  </div>
                </div>
				

             
               
              </div>
            </div>
            <div class="switch">
              
            </div>
          </div>
         </div> 
	 </div>          
</section>
	</body>
</html>

 
<div class="container" style="padding-top: 6rem;">
  <div class="row ">
    <div class="col-lg-3 ">
      <app-brand-filter></app-brand-filter>
      <app-price-filter></app-price-filter>
    </div>
    <div class="col-lg-9">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
